@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Poppins:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier Prime', monospace;
    font-family: 'Poppins', sans-serif;
    list-style-position: inside;
}

.header {
    width: 100%;
    height: 15vh;
    display: inline-flex;
    align-items: center;
    background-color: #FFFFFF;
}

#div-logo {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    background-color: transparent;
}

h1 {
    font-size: clamp(20px, 3vw, 3.5vw);
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 25px;
}

h1::after {
    content: '|';
    opacity: 1;
    animation: pisca .7s infinite;
    border-radius: 100%;
}

.div-navicon {
    display: none;
}

.container {
    height: 90%;
    width: 100%;
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    margin-top: 20px;
}

.text-1 {
    height: 350px;
    width: 45%;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin-left: 20px;
}

.text-2 {
    height: 350px;
    width: 45%;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin-right: 20px;
}

textarea::-webkit-input-placeholder {
    color: #272727;
}

.container-2 {
    display: flex;
    background-color: transparent;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.button{
    width: 45%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: 20px;
}

.button-2 {
    width: 45%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #FFFFFF;
    cursor: pointer;
    margin-right: 20px;
}
.button:active, .button-2:active{
    background-color: #484848;
}

/* MODO ESCURO */
#test {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
}
#ul-test{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}
#link-1,
#link-2 {
    margin-right: 10px;
    text-decoration: none;
    color: #000000;
}
#switch_container{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 35px;
}
.div-btn-menu {
    display: none;
}
#i-1 {
    color: rgb(255, 157, 0);
}
#i-2 {
    color: transparent;
    margin-right: 25px;
}
.switch {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.switch+label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    margin: 0 5px;
}

.switch--shadow+label {
    padding: 2px;
    width: 35px;
    height: 15px;
    background-color: #dddddd;
    border-radius: 60px;
}

.switch--shadow+label:before,
.switch--shadow+label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: '';
}

.switch--shadow+label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 60px;
    transition: all 0.4s;
}

.switch--shadow+label:after {
    width: 13px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
}

.switch--shadow:checked+label:before {
    background-color: #385ed1;
}

.switch--shadow:checked+label:after {
    transform: translateX(20px);
}

@keyframes pisca {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@media(max-width: 700px) {
    .header {
        display: flex;
        flex-flow: row wrap;
        height: 10vh;
        background-color: #FFFFFF;
    }

    #div-logo {
        width: 80%;
        height: 100%;
    }

    .div-navicon {
        width: 20%;
        height: 100%;
        background-color: transparent;
        display: flex;
        justify-content: flex-end;
        padding-right: 25px;
        align-items: center;
    }

    .hamburger {
        width: 1.08em;
        position: relative;
        display: inline-block;
        height: 0.6em;
        font-size: 1.2em;
        background: transparent;
    }

    .hamburger span {
        width: 100%;
        display: block;
        position: absolute;
        left: 0px;
        height: 0.185em;
        border-radius: 1.2px;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -ms-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
    }

    #span1,
    #span2,
    #span3 {
        background-color: #000000;
    }

    .hamburger span:nth-child(1) {
        top: 0px;
    }

    .hamburger span:nth-child(2) {
        top: 0.36em;
    }

    .hamburger span:nth-child(3) {
        top: 0.73em;
    }

    .sidebar {
        width: 20%;
        height: 100%;
        position: fixed;
        background: #000;
        top: 0px;
        left: 0px;
        z-index: 5;
        visibility: hidden;
        opacity: 0;
        transition: 0.2s all;
        -webkit-transition: 0.2s all;
        -ms-transition: 0.2s all;
        -moz-transition: 0.2s all;
        -o-transition: 0.2s all;
    }

    #navicon {
        display: none;
    }

    #navicon:checked~.sidebar {
        visibility: visible;
        opacity: 1;
    }

    #navicon:checked~.nav-toggle>.hamburger span {
        top: 0.36em;
    }

    #navicon:checked~.nav-toggle>.hamburger span:nth-child(1) {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
    }

    #navicon:checked~.nav-toggle>.hamburger span:nth-child(2) {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
    }

    #navicon:checked~.nav-toggle>.hamburger span:nth-child(3) {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
    }
    .div-navicon{
        padding-right: 5%;
    }

    #test {
        width: 40%;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 1px 0 0 55%;
        background-color: transparent;
        border: solid 0.5px #6d6d6d;
        border-radius: 5px;
        transition-duration: 1.2s;
        transition-delay: 0.4s;
        max-height: 0%;
    }
    #ul-test{
        display: none;
    }
    #switch_container, .switch_container{
        display: none;
        padding: 0;
    }
    #switch-shadow label{
        width: 20px;
    }
    #i-2{
        margin: 0;
    }
    #link-1,
    #link-2 {
        margin: 0;
    }

    .container, .container-2{
        display: block;
    }
    .container{
        /* margin-top: 40px; */
        height: 100%;
        transition-duration: 1.2s;
        transition-delay: 0.3s;
    }
    .text-1, .text-2{
        display: block;
        margin: 5px auto 0 auto;
        width: 550px;
        height: 250px;
    }
    .button, .button-2{
        display: block;
        width: 550px;
        height: 32px;
        margin: 10px auto 0 auto;
    }
}
@media(max-width: 600px){
    .text-1, .text-2{
        display: block;
        margin: 5px auto 0 auto;
        width: 90%;
        height: 250px;
    }
    .button, .button-2{
        display: block;
        margin: 10px auto 0 auto;
        width: 90%;
    }
}

@keyframes aoba {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.linha {
    width: 90%;
    height: 3px;
    border-radius: 5px;
    background-color: #6d6d6d;
    display: block;
    margin: 0 auto 0 auto;
}

.container-copiar {
    width: 100%;
    height: 10px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    position: absolute;
}

.copiar {
    width: 150px;
    height: 100px;
    background-color: #FFFFFF;
    position: absolute;
    margin-top: -100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #6d6d6d;
    border-radius: 5px;
    transition: 2s;
    transition-delay: 0.5s;
    z-index: 100;
}

.copiar p {
    display: block;
    margin: 0 auto 5px auto;
}

.div-barra-progresso {
    width: 80%;
    height: 10px;
    background-color: #FFFFFF;
    display: block;
    margin: 0 auto;
    border: 1px solid #858585;
    border-radius: 10px;
}

.barra-progresso {
    width: 0%;
    height: 100%;
    background-color: green;
    border-radius: 10px;
    transition: 1.2s;
    transition-delay: 0.8s;
}

@keyframes copiado {
    0% {
        transform: translateY(-100px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(-100px);
    }
}

@keyframes progress-animation {
    0% {
        transform: width(0%);
    }

    100% {
        transform: width(100%);
    }
}
@keyframes container{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(80px);
    }
}
#ul-test[bru] {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}
#switch_container[bru] {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container[bru2]{
    margin-top: 80px;
    transition-duration: 0.9s;
}

/* MODO DARK COLORS */

html[dark], body[dark], #header[dark]{
    background-color: #000000;
}
#h1[dark]{
    color: #FFFFFF;
}
#span1[dark], #span2[dark], #span3[dark]{
    background-color: #FFFFFF;
}
#link-1[dark], #link-2[dark]{
    color: #a7a6a6;
}
#text-1[dark], #text-2[dark]{
    background-color: #a7a6a6;
}
#send[dark], #send-2[dark]{
    background-color: #353535;
}
#copiar{
    background-color: #000000;
    color: #FFFFFF;
}